/* Навбар меню */
.navbar {
  margin-top: 25px;
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  background-color: white;
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.navbar-menu li {
  display: inline-block;
}
.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.7;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  transition: all .3s ease-in-out;
}
.navbar-menu li a:hover {
  opacity: 1;
  color: rgb(0, 0, 0)
}
.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  /* margin-right: 40px; */
}
.lk {
  margin-right: 45px;
  margin-left: 30px;
  display: inline-block;
  color: #ffffff;
  opacity: 0.7;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: rgb(0, 101, 195);
  transition: all .3s ease-in-out;
}
.lk:hover {
  opacity: 1;
}
.navbar-brand {
  width: 50%
}

/* Новый поиск */
.search {
  border: 1px solid rgb(71, 165, 252);
  border-radius: 25px;
  background: rgb(71, 165, 252);
  width: 80%;
  margin: 5px auto 5px auto;
}
.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0px 0px 10px 0px;
  padding-left: 10px
}
.search-container input, select {
  height: 50px;
  border: 2px solid #a3a4a4;
  border-radius: 25px;
  outline: none;
  text-align: center;
  color: #000000;
}
.search-container p {
  text-align: center;
  margin: 0px 0px;
  color: white;
}
.search-where-form {
  display: inherit;
  margin-right: 5%;
}
.search-where-form select {
  width: 180px;
  /* width: 150%; */
  margin: 0px 5px 0px 5px;
}
.search-date-form {
  display: inherit;
  margin: 0px 5% 0px 1%;
}
.search-date-form input{
  width: 120px;
  height: 46.8px;
}
.search-date-form input{
  margin: 0px 1px 0px 5px;
}
.search-tourist-form {
  margin-right: 8%;
}
.search-tourist-form select{
  width: 100px;
  margin: 0px 10px 0px 10px;
}
.search-button button{
  position: relative;
  top: 19px;
  height: 50px;
  width: 100px;
  border: 2px solid green;
  border-radius: 17px;
  outline: none;
  background-color: green;
  color: #9E9C9C;
  
}

/* Футер */
.footer {
  background-color: rgb(71, 165, 252);
  /* background-color: rgb(171, 172, 173); */
   position: fixed;
   right: 0;
   bottom: 0;
   width: 99%;
   height: 12%;
   display: flex;
   flex-direction: row;
}
.footer-text {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: auto;
  color: black;
  font-size: 17px;
  margin: 0 15px 0 15px;
}
.footer-label {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 35px;
  width: auto;
  margin-right: 35px;
}

/* Наполнение */
body {
  background-color: rgb(241,245,246);
}