@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Навбар меню */
.navbar {
  margin-top: 25px;
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  background-color: white;
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.navbar-menu li {
  display: inline-block;
}
.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.7;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  transition: all .3s ease-in-out;
}
.navbar-menu li a:hover {
  opacity: 1;
  color: rgb(0, 0, 0)
}
.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  /* margin-right: 40px; */
}
.lk {
  margin-right: 45px;
  margin-left: 30px;
  display: inline-block;
  color: #ffffff;
  opacity: 0.7;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: rgb(0, 101, 195);
  transition: all .3s ease-in-out;
}
.lk:hover {
  opacity: 1;
}
.navbar-brand {
  width: 50%
}

/* Новый поиск */
.search {
  border: 1px solid rgb(71, 165, 252);
  border-radius: 25px;
  background: rgb(71, 165, 252);
  width: 100%;
  font-size: 15px;
  margin: 15px 0px;
}
.search .search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  height: inherit;
  align-content: center;
  justify-content: center;
  margin: 0px auto 10px auto;
}
.search-container input, select {
  display: flex;
  height: 50px;
  border: 2px solid #a3a4a4;
  border-radius: 25px;
  outline: none;
  text-align: center;
  color: #000000;
  transition: all .3s ease-in-out;
}
.search-container input:hover, select:hover {
  background-color: rgb(235, 225, 225);
}
.search-container p {
  text-align: center;
  padding: 7px 0px;
  margin: 0px 0px;
  color: white;
}
.search-where-form {
  display: inherit;
  margin-right: 55px;
}
.search-where-form select {
  padding: 5px;
  width: 180px;
  margin: 0px 5px 0px 5px;
}
.search-date-form {
  display: inherit;
  margin: 0px 55px 0px 0px;
}
.search-date-form input{
  width: 120px;
  height: 46.8px;
}
.search-date-form input{
  margin: 0px 1px 0px 5px;
}
.search-tourist-form {
  margin-right: 25px;
}
.search-tourist-form select{
  width: 100px;
}
.search-button {
  display: flex;
  align-items: flex-end;
  
}
.search-button button{
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 17px;
  font-size: 16px;
  font-weight: bold;
  background-color: #60B822;
  color: #ffffff;
  transition: all .3s ease-in-out;
}
.search-button button:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.search-button button:active{
  background-color: #448119;
}

/* Футер */
.footer {
  background-color: rgb(71, 165, 252);
  /* background-color: rgb(171, 172, 173); */
   /* position: fixed;
   right: 0;
   bottom: 0; */
   width: 99%;
   height: 90px;
   margin-top: 15px;
   display: flex;
   flex-direction: row;
}
.footer-text {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: auto;
  color: black;
  font-size: 15px;
  margin: 0 15px 0 15px;
}
.footer-label {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 35px;
  width: auto;
  margin-right: 35px;
}

/* Наполнение */
body {
  background: rgb(241,245,246);
  font-family: 'Open Sans', sans-serif;
}
.body-container {
  width: 70%;
  margin: 0px auto 0px auto;
  min-height: 700px;
}
.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 350px;
  width: inherit;
}
.banner-container .image-container-left {
  height: inherit;
  border-radius: 25px;
  overflow: hidden;
  width: 666px;
}
/* .banner-container .image-container-left img {
  height: inherit;
  width: inherit;
} */
.banner-container .image-container-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 340px;
  justify-content: space-between;
  
}
.banner-container .image-container-right a{
  height: 48%;
  width: inherit;
  border-radius: 25px;
  overflow: hidden;
}
.advantages-container {
  padding-top: 15px;
}
.advantages-container img {
  width: 1018px;
  height: 520px;
}

/* РАЗДЕЛ: Отзывы на главной странице */
.reviews-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items: center;
}
.review-obj {
  border: 1px solid #4b4d4d;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  background-color:azure;
  height: 50%;
  width: 100%;
  margin: 10px 0px;
}
.review-obj p{
  /* margin: 0px; */
  padding: 5px 5px 5px 5px;
  font-size: 17px;
}
.review-obj-name {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  width: 100%;
  height: 40%;
}
.review-obj-name p {
  margin: 0px;
  padding: 5px 5px 5px 5px;
  font-size: 17px;
  font-weight:bold;
}
.reviews h1,h2 {
  text-align: center;
}
/* Форма обратной связи на главной странице */
.review-form {
  border: 1px solid #4b4d4d;
  border-radius: 15px;
  background-color: azure;
  padding: 10px;
}
.review-form input, textarea{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15px auto;
  height: 30px;
  border: 2px solid #a3a4a4;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: #000000;
  transition: all .3s ease-in-out;
}
.review-form textarea {
  height: 100px;
  resize: none;
}
.review-form button {
  display: flex;
  margin: 0px auto;
  align-items: center;
  border: none;
  border-radius: 17px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  background-color: #60B822;
  color: #ffffff;
  transition: all .3s ease-in-out;
}
.review-form button:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.review-form button:active{
  background-color: #448119;
}


/* СТРАНИЦА TOURS.HTML */
.tours-catalogue-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: 500px; */
  width: inherit;
  padding: 15px;
  border: 1px solid #4b4d4d;
  border-radius: 15px;
  background-color: azure;
}
.tours-catalogue-container a:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.tours-catalogue-container a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 10px 0px;
  overflow: hidden;
  border: 1px solid rgb(213, 213, 213);
  transition: all .3s ease-in-out;
}
.tour-obj {
  width: 300px;
  height: auto;
  border-radius: 15px;
}
.tour-obj-picture {
  width: 300px;
  height: 150px;
}
.tour-obj-picture img{
  width: 300px;
  height: 150px;
}
.tour-obj-body p{
  margin: 0px;
  padding: 5px;
}
.tour-price-info {
  background-color: rgb(227, 244, 248);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
  
}
.tour-price {
  color: green;
  font-size: 19px;
  font-weight: bold;
}
.tour-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.tour-name {
  font-size: 15px;
  font-weight: bold;
}
.tour-location {
  font-size: 13px;
}
.tour-location svg {
  color: blue;
}

/* СТРАНИЦА: CONTACTS.HTML */
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.contacts-information {
  width: 50%;
}
.contacts-information img {
  width: 25px;
  float: left;
  margin-right: 5px;
  height: 25px;
}
.contacts-information h1,h2{
  text-align: left;
}
.contacts-information a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.contacts-information a:hover {
  text-decoration: underline;
}
.contacts-picture img{
  margin-top: 20px;
  width: 372px;
  height: 500px;
}
.contacts-rate-frames {
  display: flex;
  flex-direction: row;
  margin: 0px 15px
}
.yandex-map iframe{
  width: 100%;
}

/* ФОРМА ОБРАТНОЙ СВЯЗИ НА СТРАНИЦе ОПЛАТЫ И КОНТАКТОВ */
.callback-form-container {
  width: 50%;
  margin: 10px auto;
}

.callback-form {
  border: 1px solid #4b4d4d;
  border-radius: 15px;
  background-color: azure;
  padding: 10px;
}
.callback-form input, textarea{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15px auto;
  height: 30px;
  border: 2px solid #a3a4a4;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: #000000;
  transition: all .3s ease-in-out;
}
.callback-form textarea {
  height: 100px;
  resize: none;
}
.callback-form button {
  display: flex;
  margin: 0px auto;
  align-items: center;
  border: none;
  border-radius: 17px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  background-color: #60B822;
  color: #ffffff;
  transition: all .3s ease-in-out;
}
.callback-form button:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.callback-form button:active{
  background-color: #448119;
}

/* PAYMENTS.HTML */

.payments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.payments-information {
  width: 50%;
}
.payments-information h1,h2{
  text-align: left;
}
.payments-information a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.payments-information a:hover {
  text-decoration: underline;
}
.payments-picture img{
  margin-top: 20px;
  width: 400px;
  height: 250px;
}

/* ЛИЧНЫЙ КАБИНЕТ СТРАНИЦА LK.HTML */

.lk-form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px auto;
}

.lk-form {
  border: 1px solid #4b4d4d;
  border-radius: 15px;
  margin: 15px;
  width: 100%;
  background-color: azure;
  padding: 10px;
}
.lk-form input, textarea{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15px auto;
  height: 30px;
  border: 2px solid #a3a4a4;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: #000000;
  transition: all .3s ease-in-out;
}
.lk-form textarea {
  height: 100px;
  resize: none;
}
.lk-form button {
  display: flex;
  margin: 0px auto;
  align-items: center;
  border: none;
  border-radius: 17px;
  height: 40px;
  /* width: 100px; */
  width: auto;
  font-size: 16px;
  font-weight: bold;
  background-color: #60B822;
  color: #ffffff;
  transition: all .3s ease-in-out;
}
.lk-form button:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.lk-form button:active{
  background-color: #448119;
}
/* TOUR.HTML */
.tour-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tour-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  /* margin: 25px auto; */
  background-color: azure;
  font-size: 18px;
  padding: 25px;
  border: 1px solid gray;
  border-radius: 25px 25px 0px 0px;
}
.tour-information img {
  border-radius: 15px;
  overflow: hidden;
}
.tour-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  /* margin: 25px auto; */
  background-color: azure;
  padding: 25px;
  border: 1px solid gray;
  border-radius: 0px 0px 25px 25px;
}
.flight-object {
  display:flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(219, 219, 219);
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}
.flight-object-information {
  text-align: left;
  width: 50%;
}
.flight-object-price {
  text-align: right;
  font-weight: bold;
  font-size: 19px;
  color: rgb(3, 157, 3);
  width: 100%;
}